<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <resultMap id="joinResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuAndCategoryDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="orderableStatus" column="orderable_status"/>
        <association property="categoryDTO" javaType="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
            <id property="code" column="category_code"/>
            <result property="name" column="category_name"/>
            <result property="refCategoryCode" column="ref_category_code"/>
        </association>
    </resultMap>

    <select id="findAllMenus" resultMap="menuResultMap">
          SELECT MENU_CODE
               , MENU_NAME
               , MENU_PRICE
               , CATEGORY_CODE
               , ORDERABLE_STATUS
            FROM TBL_MENU
           WHERE ORDERABLE_STATUS = 'Y'
        ORDER BY MENU_CODE
    </select>

    <select id="findFinMenus" resultMap="menuResultMap">
        SELECT MENU_CODE
        , MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE ORDERABLE_STATUS = 'N'
        ORDER BY MENU_CODE
    </select>

    <select id="menuDetail" resultMap="menuResultMap">
        SELECT *
          FROM TBL_MENU
         WHERE MENU_CODE = #{code}
    </select>

    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT *
          FROM TBL_CATEGORY
    </select>

    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        INSERT INTO TBL_MENU
             (
               MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
             )
         VALUE
             (
               #{name}
             , #{price}
             , #{categoryCode}
             , #{orderableStatus}
             )
    </insert>

    <select id="findAllMenuAndCategory" resultMap="joinResultMap">
        SELECT a.MENU_CODE
             , a.MENU_NAME
             , a.MENU_PRICE
             , a.ORDERABLE_STATUS
             , b.*
          FROM TBL_MENU a
          JOIN TBL_CATEGORY b ON (a.CATEGORY_CODE = b.CATEGORY_CODE)
         WHERE a.ORDERABLE_STATUS = 'Y'
    </select>

    <delete id="deleteOneMenuByCode" parameterType="int">
        DELETE
          FROM TBL_MENU
         WHERE MENU_CODE = #{code}
    </delete>

</mapper>